.QM05YwceC9hXxIruSFGn0 {
  background-color: #FFF;
  width: 100%;
  min-height: 100%;
  padding: 50px 0; }

.uQMj1m8Qxs5_F2ZUPBNRc {
  position: fixed !important;
  top: 0; }

._3lr4YKQCkSOwN63Wf1YbVu {
  position: absolute;
  right: 30px; }
  ._3lr4YKQCkSOwN63Wf1YbVu > a {
    color: black;
    margin: 0 15px; }
    ._3lr4YKQCkSOwN63Wf1YbVu > a::before {
      color: black; }
    ._3lr4YKQCkSOwN63Wf1YbVu > a::after {
      color: black; }

._2mWR7qM-BvbWb87l6fQSfI {
  background-color: #FFF;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  z-index: 10;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }
  @media only screen and (min-width: 400px) {
    ._2mWR7qM-BvbWb87l6fQSfI {
      width: auto; } }
  @media only screen and (min-width: 768px) {
    ._2mWR7qM-BvbWb87l6fQSfI {
      width: 750px; } }
  @media only screen and (min-width: 1024px) {
    ._2mWR7qM-BvbWb87l6fQSfI {
      width: 970px; } }
  @media only screen and (min-width: 1248px) {
    ._2mWR7qM-BvbWb87l6fQSfI {
      width: 1170px; } }

h1,
h2 {
  margin: 0;
  padding: 0; }

.zfONCRCV716iYqwePmoXH {
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #EEE;
  height: 100vh; }

._2OCgjf337XOnunLb5eGArN {
  background-color: #bc17e6;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  margin-bottom: 40px;
  width: 25%; }

.N_Ut8oWGwV5vTlsjKLyYE {
  z-index: 10;
  margin-bottom: 10px; }
  .N_Ut8oWGwV5vTlsjKLyYE img {
    width: 230px;
    border-radius: 50%;
    border: 1px solid #bc17e6;
    box-shadow: 3px 2px 3px #bc17e6; }

.V9DuG-bvR8jQ1nmPV0Cnm {
  z-index: 10;
  font-size: 1.25em; }

.-AVns2ixD__mifsrFCdzg {
  z-index: 10;
  margin-top: 0;
  font-size: 0.7em;
  margin-bottom: 30px;
  color: #888; }

.gPJe4AgZXNijJsUtf4-db {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px; }

.kl-T7T4hX9fIVUoWRxTm6 {
  background-color: chartreuse; }

