._1JQEZEQ0IAQStAgT0gpqAd {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

._1JQEZEQ0IAQStAgT0gpqAd div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

._1JQEZEQ0IAQStAgT0gpqAd div:nth-child(1) {
  left: 6px;
  animation: _1NIb3ii8qOJzsh80L0JubM 0.6s infinite; }

._1JQEZEQ0IAQStAgT0gpqAd div:nth-child(2) {
  left: 6px;
  animation: _1_sLyfuj4LhmskUf5ulEzE 0.6s infinite; }

._1JQEZEQ0IAQStAgT0gpqAd div:nth-child(3) {
  left: 26px;
  animation: _1_sLyfuj4LhmskUf5ulEzE 0.6s infinite; }

._1JQEZEQ0IAQStAgT0gpqAd div:nth-child(4) {
  left: 45px;
  animation: _3byFxstR99EbR3ElB8gIVH 0.6s infinite; }

@keyframes _1NIb3ii8qOJzsh80L0JubM {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes _3byFxstR99EbR3ElB8gIVH {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes _1_sLyfuj4LhmskUf5ulEzE {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(19px, 0); } }

.BIbJ-jPzG1s-RgB40nALt {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto; }

._3FJV06Khr6h9tiNRgQ7kEI {
  font-family: "Source Sans Pro", sans-serif;
  color: #333;
  font-size: 20px;
  margin: 50px 70px; }
  ._3FJV06Khr6h9tiNRgQ7kEI a:visited,
  ._3FJV06Khr6h9tiNRgQ7kEI a:link,
  ._3FJV06Khr6h9tiNRgQ7kEI a > em {
    color: inherit;
    text-decoration: none;
    font-style: normal; }
  ._3FJV06Khr6h9tiNRgQ7kEI a:link {
    text-decoration: underline; }

._2JaOgoHHyp25h2hJl-LQp4 {
  background-color: #222;
  border-radius: 5px;
  padding: 0px 5px;
  padding-bottom: 3px;
  color: #EEE;
  font-size: 15px; }

._3yLZY31BSXUu5gkk07F0n- {
  margin-right: 5px;
  color: #bc17e6; }

._1noPFruwmN-gcKhPIWOLvI {
  margin-left: 5px;
  color: #bc17e6; }
  ._1noPFruwmN-gcKhPIWOLvI._3o3Chr5u-KH-l2oAzpz4VO {
    opacity: 1; }
  ._1noPFruwmN-gcKhPIWOLvI._2P1-bVVUWr08zVZbLBRWEu {
    opacity: 0; }

._1uimUnykwCN0xLI5mb9atl {
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
  text-shadow: none; }
  ._1uimUnykwCN0xLI5mb9atl::before, ._1uimUnykwCN0xLI5mb9atl::after {
    color: #FFF;
    display: inline-block;
    box-sizing: border-box;
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s; }
  ._1uimUnykwCN0xLI5mb9atl::before {
    content: '[';
    color: #bc17e6;
    transform: translateX(5px); }
  ._1uimUnykwCN0xLI5mb9atl::after {
    content: ']';
    color: #bc17e6;
    transform: translateX(-5px); }
  ._1uimUnykwCN0xLI5mb9atl:hover::before, ._1uimUnykwCN0xLI5mb9atl:focus::before {
    transform: translateX(-10px);
    opacity: 1; }
  ._1uimUnykwCN0xLI5mb9atl:hover::after, ._1uimUnykwCN0xLI5mb9atl:focus::after {
    transform: translateX(10px);
    opacity: 1; }

._3IP-Mf-rqqIzyMzqJ8Zs9- {
  border-radius: 5px; }

