@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;
}

.cv {
	font-family: "Source Sans Pro", sans-serif;
	color: $black;
	font-size: 20px;
	margin: 50px 70px;
	a:visited,
	a:link,
	a > em {
		color: inherit;
		text-decoration: none;
		font-style: normal;
	}
	a:link {
		text-decoration: underline;
	}
}
